

h1{
    font-family: arial; font-size: 30px; font-weight: normal; letter-spacing: 2px; color:#2E1513; 
         margin-left:40px;
    margin-right:40px; 
}
p{
    
      font-family: helvetica;
    font-size:19px;
    margin-left:40px;
    margin-right:40px;   
    }    
    
    
    


#container{
    
       
   
    background-color:#F7D74C;
   overflow:auto;
    max-width:960px;
    margin: 0 auto;
    padding:0;
    border-radius:10px;
    
    
    }
    
    
    
#top{
    
    
   /* border: 5px solid white;*/
    background-color:white;
    margin: 0 auto;
    width:900px;
    height:160px;
    
  background-image:url(doc/pic/studentmo.png); 
 background-size: 600px;
 
   background-position:left;
  background-repeat:no-repeat;
     border-radius: top 20px;     

}

/*
#navi{
    
 


}
*{
margin: 0;
padding: 0;
}
#ul {
list-style-type: none;
background-image: url(doc/pic/Menybakgrund.jpg);
height: 80px;
width: 800px;
margin: auto;
}
#ul li {
list-style-type: none;
float: left;
}
#ul a {
list-style-type: none;
background-image: url(doc/pic/blackborder.png);
background-repeat: no-repeat;
background-position: right;
padding-right: 32px;
padding-left: 32px;
display: block;
line-height: 80px;
text-decoration: none;
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 21px;
color: #371C1C;
}
#ul a:hover {
color: #FFF;
}  
 
 */
    
    





#content{
    
     
        background-color:white;
        width:900px;
        height:800px;
        padding-top:1px;
        margin: 0 auto;
      
    
  
       background-image:url(doc/pic/bord.JPG) ;
        background-repeat:no-repeat;
        background-size: 400px;
        background-position:bottom left;
        border-radius:bottom 10px;
    
 
}






#footer{
    
 
   
   
 
        background-color:white;
        margin: 0 auto;
     
        height:200px;
        /*float:left;*/
        width:900px;
    
     
  
     
        background-image:url(doc/pic/fram.png);  
        background-repeat:no-repeat;
        
       background-size: 400px;
       background-position:right;
       border-radius:bottom 10px;
  
  
}


     
    

