

h1{
    font-family: arial; font-size: 30px; font-weight: normal; letter-spacing: 2px; color:#2E1513; 

    
}
p{
    
      font-family: helvetica;
    font-size:19px;
      
   
    }    
    
    
    


#container{
    
       
   
    background-color:rgb(249,221,99);
   overflow:auto;
    max-width:960px;
    margin: 0 auto;
    padding:0;
    border-radius:10px;
    padding-bottom:10px;
    
    }
    
    
    
#top{
    
    
   /* border: 5px solid white;*/
     background-color:white;
     margin: 0 auto;
     width:900px;
     height:160px;
         
     background-image:url(doc/pic/studentmo.png); 
     background-size: 800px;
 
     background-position:left;
     background-repeat:no-repeat;
      

}



    

nav {
    padding:0;
    

    width:900px;
    height: 30px;
    background-color:white;
    float:left;
    margin-bottom: 10px;
    margin-left:30px;
    background-color:rgb(251,234,161);
}

nav ul {
   
    padding: 0;
    font-family: verdana;
    font-size: 0.8em;
    list-style-type: none;
    margin-top:0;
   

}

nav li {
    
    float: left;
    height: 29px;
    margin-right: 1px;
    background-color: rgb(121,112,102);
    /*border-color: rgb(121,112,102);
   
    border-style: solid;*/
}

nav li a {
    text-decoration: none;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 6px;
    display: block;

    color: rgb(223,213,196);
    text-align: center;
}


nav li:a {
    
    color: rgb(121,112,102);
    background-color: rgb(234,231,210);
}

nav li:hover {
    color: rgb(234,231,210);
    background-color: rgb(156,144,132);
}



@media only screen and (max-width:481px)
{

nav {
    padding-top:0;
    padding-left:2px;   
  
    margin: 0;
    width: 300px;
    float:none;
    margin-bottom: 20px;
}

nav ul {
    width: 300px;
    float:left;
    padding:0;
    font-family: verdana;
    font-size: 0.9em;
    list-style-type: none;
    margin-top:0;
   

}

nav li {
    width:300px;
    height: 29px;
    margin-right: 0;
    margin-bottom: 5px;
    padding:0;
    background-color: rgb(121,112,102);
    border-radius:5px;
  
}

nav li a {
    text-decoration: none;
    padding-top: 7px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    display: block;
    color: rgb(223,213,196);
    text-align: center;
}
  
}




#text1
{       border-radius:20px;
        background-color:white;
        border-style:solid ;
        border-width:1px;
        border-color:black;
        width:880px;
        margin:0 auto;
        margin-top:80px;
        height:700px;
        background-size:350px;
        background-position:right bottom;
        background-image:url(doc/pic/fram.png);  
        background-repeat:no-repeat;
        padding-left:10px;
        padding-right:10px;

}


#content{
    
      
        
        background-color:rgb(249,221,99);
        width:900px;
       
        padding-top:1px;
        margin: 0 auto;
        
        
      
        
    
  
     
        /*background-repeat:no-repeat;
        background-size: 400px;
        background-position:bottom left;
        border-radius:bottom 10px;
    */
 
}






#footer{
    
 
   
        border-radius: 10px;
        
        background-color:rgb(251,234,161);
        margin: 0 auto;
     
       height:60px;
        /*float:left;*/
        width:900px;
        
     
  
     
        
                       
     
  
  
}


     
    

